<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'>
			{{#if user.img}}
			<img src='{{user.img}}' alt='logo' class='img-fluid my-2' />
			{{else}}
			<img src="https://cdn.pixabay.com/photo/2017/02/25/22/04/user-icon-2098873_1280.png" alt='logo'
				class='img-fluid my-2' style="height: 90%;" />
			{{/if}}
		</div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>
			<p>Carga los siguientes datos para poder ser un usuario premium:</p>
			<form id="filesForm" action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
				<h4>Identificación</h4>
				<input type="file" class="form-control" name="identification" id="identification">
				<h4>Comprobante de domicilio</h4>
				<input type="file" class="form-control" name="address" id="address">
				<h4>Comprobante de estado de cuenta</h4>
				<input type="file" class="form-control" name="account" id="account">
				<button class="btn btn-success" type="submit">Subir archivos</button>
			</form>
			{{#if user.status}}
			<h4 class="text-success my-4">Los archivos se subieron correctamente.</h4>
			{{else}}
			<h4 class="text-danger my-4">Por favor, ingrese todos los archivos antes de enviar la solicitud.</h4>
			{{/if}}
			<button class="btn btn-success my-3" onclick="sendInfo('{{user._id}}')">Enviar solicitud</button>
		</div>
	</div>
</section>

<script src="/js/responses_manager.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>