<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'>

			{{#if user.img}}
			<img src='{{user.img}}' alt='logo' class='img-fluid my-2' />
			{{else}}
			<img src="https://cdn.pixabay.com/photo/2017/02/25/22/04/user-icon-2098873_1280.png" alt='logo'
				class='img-fluid my-2' style="height: 90%;" />
			{{/if}}
		</div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>
			<p>Datos personales</p>			
			<ul>				
				{{#if user.email}}<li><b>Correo: </b>{{user.email}}</li>{{/if}}
				{{#if user.age}}<li><b>Edad: </b>{{user.age}}</li>{{/if}}
				{{#if user.rol}}<li><b>Rol: </b>{{user.rol}}</li>{{/if}}
			</ul>
		</div>
	</div>
</section>